@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #dae8ff;
}

*::-webkit-scrollbar-track {
  background-color: #dae8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000c20;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.data {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #eff2ff;
}
